@media only screen and (max-width: 412px) {
    .yo {
        overflow-x: hidden;
        .navholder {
            overflow-x: hidden;
            overflow-x: hidden;
            background-image: url(./pictures/How_we_hire-826.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            nav {

                .after {
                    display: block;
                    font-size: xx-small;
                }
            }

            .band {
                margin-right: 1em;
                
                .mar {
                    margin-left: -2em;
                }
                .key{
                    margin: 18px 0px 0px 3em;
                    aside{
                        margin-right: 1em;
                        .fa-solid fa-arrow-right{
                            color: black;
                        }
                    }
                }
            }
        }
        .stick{

            .first{

                .no{
                    h1{}
                    article{
                        margin-right: 2em;
                        margin: 0px 0px 0px -5em;
                    }
                }
            }
            .second{

                article{
                    margin: 0px 0px 0px -4.7em;
                }
            }
            .third{

                article{
                    margin: 0px 0px 0px -4.7em;
                }
            }
        }
        .prosper{
            display: none;
        }
        .hehe{
            display: block;
            div{
                h1{
                    max-width: 410px;
                    flex-wrap: wrap;
                    font-size: large;
                    margin: 0px 0px 0px -1px;
                }
                p{
                    font-size: medium;
                    margin: 0px 0px 0px -1px;
                }
                button{
                    margin: 0px 0px 0px -1em;
                }
            }
        }
        .tok{

            #lolm{
                width: 410px;
                display: block;
                .lo{
                    margin-left: -1.4em;
                }
                .bo{
                    max-width: 403px;
                    text-align: center;
                    .jk{
                        box-shadow: 1em;
                        border-left: 14px;
                        border-bottom-left-radius: 18px;
                        flex-wrap: wrap;
                        width: 403px;
                        margin: 1em 2em 0px -2.4em;
                    }
                }
            }
            #mok{
                padding-right: -1em;
                width: 410px;
                display: block;
                #nbv{

                    width: 373px
                }
            }
        }
        .div{
            display: none;
        }
    }
}